<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Contacts</h3>
    <button class="btn btn-success pull-right">
      New Contact
    </button>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-5">
        <cms-contact-list 
        [contacts]="contacts"
        (selectedContact)="onContactSelected($event)"></cms-contact-list>
      </div>

      <div class="col-sm-7">
        <cms-contact-detail
          *ngIf="selectedContact"
          [contact]="selectedContact">
        </cms-contact-detail>
        <router-outlet>
          
        </router-outlet>
      </div>
    </div>
  </div>
</div>