<div class="documents-container">
  <!-- LEFT SIDE -->
  <div class="documents-list">
    <div class="documents-header">
      <h2>Documents</h2>
      <button class="btn btn-success">Add Document</button>
    </div>

    <cms-document-list></cms-document-list>

    <cms-document-detail
      *ngIf="selectedDocument"
      [document]="selectedDocument">
    </cms-document-detail>
  </div>

  <!-- RIGHT SIDE -->
  <div class="documents-detail" *ngIf="selectedDocument">
    <cms-document-detail
      [document]="selectedDocument">
    </cms-document-detail>
  </div>
</div>


<!-- mobile to work in later
 <div class="documents-layout">
  <section class="document-list">
    <button class="btn-primary">Add Document</button>

    <ul>
      <li *ngFor="let doc of documents">
        {{ doc.name }}
      </li>
    </ul>
  </section>

  <section class="document-detail">
    <ng-container *ngIf="selectedDocument">
      <h2>{{ selectedDocument.name }}</h2>
      <p>{{ selectedDocument.description }}</p>
    </ng-container>
  </section>
</div>


-->