<div class="documents-container">
 <div class="row">

  <!-- LEFT SIDE -->
  <div class="col-md-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Documents</h2>
      <button class="btn btn-success">Add Document</button>
    </div>

    <cms-document-list></cms-document-list>
  </div>

  <!-- RIGHT SIDE -->
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>

</div>



<!-- mobile to work in later
 <div class="documents-layout">
  <section class="document-list">
    <button class="btn-primary">Add Document</button>

    <ul>
      <li *ngFor="let doc of documents">
        {{ doc.name }}
      </li>
    </ul>
  </section>

  <section class="document-detail">
    <ng-container *ngIf="selectedDocument">
      <h2>{{ selectedDocument.name }}</h2>
      <p>{{ selectedDocument.description }}</p>
    </ng-container>
  </section>
</div>


-->