.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.navbar-nav > li > a {
  color: #555;
  padding: 15px 20px;
}

.navbar-nav > li > a:hover {
  background-color: #f3f3f3;
  color: #000;
}

.navbar-brand {
  font-weight: 600;
  font-weight: bold;
}

.nav > li > a {
  padding: 10px 15px;
  border-color: #e7e7e7 !important;
  border-radius: 4px;
}


/* drop down test */
.dropdown-menu {
  display: none;
}
.open .dropdown-menu {
  display: block;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  .menu-toggle {
    display: block;
  }
}